@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 50%; } }

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif; }

h1, h2, h3 {
  font-family: 'Oranienbaum', serif;
  font-weight: 400;
  color: currentColor;
  text-transform: uppercase; }

h1 {
  font-size: 5rem;
  text-align: center;
  margin: 3rem auto 4rem; }
  @media only screen and (max-width: 75em) {
    h1 {
      font-size: 4vw; } }
  @media only screen and (max-width: 37.5em) {
    h1 {
      font-size: 7vw; } }

h2 {
  font-size: 4rem;
  margin: 4rem 0; }

h3 {
  font-size: 2.5rem;
  margin: 4rem auto;
  text-align: center; }
  @media only screen and (max-width: 75em) {
    h3 {
      font-size: 4rem;
      margin-bottom: 6rem; } }

h4 {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

p {
  margin: 0;
  padding: 0; }

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: currentColor; }

.post__wrap {
  width: 70%;
  min-height: 30rem;
  overflow: hidden;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 6rem; }
  @media only screen and (max-width: 48em) {
    .post__wrap {
      width: 100%; } }
  .post__wrap p {
    font-size: 1.6rem;
    margin: 1rem 0; }

.header {
  position: absolute;
  width: 100%;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: 'Oranienbaum', serif;
  color: #fff;
  z-index: 1; }
  @media only screen and (max-width: 62em) {
    .header {
      position: static;
      z-index: 0;
      padding-top: 1rem; } }
  .header.menu-sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8); }
  .header__nav {
    width: 100%; }
    .header__nav button {
      padding: 2rem; }
      @media only screen and (max-width: 61.94em) {
        .header__nav button {
          order: -3; } }
      .header__nav button span {
        display: block;
        width: 3.5rem;
        height: 2px;
        background-color: #fff; }
        .header__nav button span::before, .header__nav button span::after {
          content: "";
          display: block;
          height: 2px;
          background-color: #fff; }
        .header__nav button span::before {
          transform: translateY(-0.9rem); }
        .header__nav button span::after {
          transform: translateY(0.7rem); }
    @media only screen and (max-width: 62em) {
      .header__nav ul {
        padding-left: 2rem; } }
    .header__nav-item:not(:last-child) {
      margin-right: 2rem !important; }
    .header__nav-item a {
      color: #fff !important;
      padding: 2rem; }
  .header__socials {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 61.94em) {
      .header__socials {
        order: -1; } }
    .header__socials .item {
      height: 24px;
      width: 24px;
      margin: .5rem;
      cursor: pointer; }
      .header__socials .item:hover {
        background-position: 0 -25px; }
    .header__socials-inst {
      background-image: url("../img/1438557260_inst_4.png"); }
    .header__socials-fb {
      background-image: url("../img/1438557245_ab_4.png"); }
    .header__socials-vk {
      background-image: url("../img/1438423986_vk_3.png"); }
  .header__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 61.94em) {
      .header__contacts {
        order: -2; } }
    .header__contacts p {
      text-align: right; }

section.main__hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url("../img/bg-main.png") center top;
  background-repeat: no-repeat;
  background-size: 120%;
  position: relative;
  font-family: 'Oranienbaum', serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: #fff;
  width: 100%; }
  section.main__hero .container {
    background: none;
    margin-top: 13rem;
    margin-bottom: 10rem; }
    @media only screen and (max-width: 75em) {
      section.main__hero .container {
        margin-top: 9vw;
        margin-bottom: 4vw; } }
  @media only screen and (max-width: 75em) {
    section.main__hero .hero-logo img {
      width: 18vw; } }
  section.main__hero .hero-title {
    color: #fff;
    margin-top: 5rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 75em) {
      section.main__hero .hero-title {
        margin-top: 4vw;
        margin-bottom: 4vw; } }
    section.main__hero .hero-title span {
      display: block; }
    @media only screen and (max-width: 75em) {
      section.main__hero .hero-title .mission {
        font-size: 3vw; } }
    section.main__hero .hero-title .mission::after {
      content: ""; }
    section.main__hero .hero-title .mission-desc {
      color: #9c8e5d;
      text-decoration: underline;
      font-size: 2rem;
      line-height: 2; }
      @media only screen and (max-width: 75em) {
        section.main__hero .hero-title .mission-desc {
          font-size: 2vw; } }
      section.main__hero .hero-title .mission-desc::before {
        content: "\00AB"; }
      section.main__hero .hero-title .mission-desc::after {
        content: "\00BB"; }

section .container {
  background-color: #fff;
  overflow: hidden; }

section.main__content .container.new {
  overflow: hidden; }
  section.main__content .container.new::before {
    content: "Новинка";
    display: inline-block;
    width: 20%;
    text-align: center;
    transform: rotate(-45deg) translate(-8rem, -2rem);
    background-color: red;
    color: #fff;
    font-size: 1.6rem;
    padding: .5rem 0;
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 75em) {
      section.main__content .container.new::before {
        width: 42vw;
        transform: rotate(-45deg) translate(-15vw, -8vw); } }

section.main__content .container.full-width {
  padding: 0; }

section.main__content.post {
  color: #555; }

section.main__content .post__summary {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  width: 65%;
  margin: 0 auto 5rem; }
  @media only screen and (max-width: 37.5em) {
    section.main__content .post__summary {
      font-size: 3vw;
      width: 80%; } }

section.main__content .post__image img {
  width: 100%; }

section.main__content .post__image p {
  color: #777;
  text-align: center; }

section.books .container {
  width: 100%;
  padding: 0; }
  section.books .container img {
    width: 100%; }

section.table {
  margin-bottom: 0; }
  section.table table {
    margin: 4rem 0; }
  section.table table, section.table table th, section.table table td {
    font-size: 1.6rem;
    color: #000;
    font-weight: 700;
    text-align: center;
    background-color: yellow;
    border: 1px solid #f8c333;
    vertical-align: middle; }
    section.table table .cell-head, section.table table th .cell-head, section.table table td .cell-head {
      width: 50%;
      padding: 2rem;
      text-align: left; }
    section.table table .col-card, section.table table th .col-card, section.table table td .col-card {
      width: 16.66666%; }
    section.table table .currencies, section.table table th .currencies, section.table table td .currencies {
      border: 1px solid currentColor;
      padding: .5rem;
      font-size: 1.2rem;
      min-width: 2.4rem; }
    section.table table .price, section.table table th .price, section.table table td .price {
      font-size: 2rem; }
    section.table table td span, section.table table th td span, section.table table td td span {
      font-size: 1.1rem;
      position: relative;
      display: block; }
      section.table table td span::before, section.table table th td span::before, section.table table td td span::before {
        content: "\002A";
        display: inline-block;
        transform: translate(-0.2rem);
        font-size: 1rem; }
    section.table table a, section.table table th a, section.table table td a {
      color: #fff;
      background-color: #000;
      padding: 1rem 1.5rem;
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 1.1rem; }

section.cards .container {
  padding-top: 5rem;
  padding-bottom: 5rem; }

section.cards .cards-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 120rem;
  margin: 0 auto; }

section.cards .card {
  width: 34rem;
  min-height: 48rem;
  font-size: 1.6rem;
  transition: all .2s;
  margin-bottom: 6rem; }
  section.cards .card:not(:last-child) {
    margin-right: 4rem; }
    @media only screen and (max-width: 48em) {
      section.cards .card:not(:last-child) {
        margin-right: 0; } }
  section.cards .card:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }
  section.cards .card-body {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  section.cards .card .title {
    display: block;
    padding-bottom: 3rem;
    text-align: center; }
  section.cards .card .details {
    padding-bottom: 2rem;
    display: block;
    text-align: left; }
  section.cards .card .price span {
    display: block;
    font-size: 2rem; }
  section.cards .card .price .old {
    font-weight: 100;
    position: relative; }
    section.cards .card .price .old .fas {
      font-weight: 100; }
    section.cards .card .price .old::before {
      content: "";
      width: 7rem;
      display: inline-block;
      height: 1px;
      background-color: red;
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: rotate(-10deg) translateX(-50%); }
  section.cards .card a {
    display: inline-block;
    width: 100%;
    margin-top: 3rem;
    padding: 1rem;
    text-transform: uppercase;
    color: #fff;
    background-color: red;
    border-radius: 3px; }

section.gallery h3 {
  text-align: left; }
  @media only screen and (max-width: 48em) {
    section.gallery h3 {
      text-align: center; } }

section.gallery p {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #777; }

footer {
  min-height: 20rem;
  text-align: center;
  color: #fff; }
  footer .to-top {
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: .7rem 1rem;
    display: inline-block;
    margin: 3rem auto; }
  footer .info {
    text-align: left; }
    @media only screen and (max-width: 48em) {
      footer .info {
        font-size: 1.6rem; } }
    footer .info ul {
      list-style: none; }

.collapse.navbar-collapse.starkov {
  flex-grow: 0; }
  @media only screen and (max-width: 62em) {
    .collapse.navbar-collapse.starkov {
      flex-grow: auto; } }

.header__nav.navbar.navbar-expand-lg.starkov {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
