@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 50%; } }

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Oranienbaum', serif;
  font-weight: 400; }

p {
  margin: 0;
  padding: 0; }

.header {
  position: absolute;
  width: 100%;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: 'Oranienbaum', serif;
  color: #fff;
  z-index: 1; }
  @media only screen and (max-width: 991px) {
    .header {
      position: static;
      z-index: 0; } }
  .header__nav {
    width: 100%; }
    .header__nav button {
      padding: 2rem; }
      @media only screen and (max-width: 992px) {
        .header__nav button {
          order: -3; } }
      .header__nav button span {
        display: block;
        width: 3.5rem;
        height: 2px;
        background-color: #fff; }
        .header__nav button span::before, .header__nav button span::after {
          content: "";
          display: block;
          height: 2px;
          background-color: #fff; }
        .header__nav button span::before {
          transform: translateY(-0.9rem); }
        .header__nav button span::after {
          transform: translateY(0.7rem); }
    .header__nav-item:not(:last-child) {
      margin-right: 2rem !important; }
    .header__nav-item a {
      color: #fff !important;
      padding: 2rem; }
  .header__socials {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 992px) {
      .header__socials {
        order: -1; } }
    .header__socials .item {
      height: 24px;
      width: 24px;
      margin: .5rem;
      cursor: pointer; }
      .header__socials .item:hover {
        background-position: 0 -25px; }
    .header__socials-inst {
      background-image: url("/img/1438557260_inst_4.png"); }
    .header__socials-fb {
      background-image: url("/img/1438557245_ab_4.png"); }
    .header__socials-vk {
      background-image: url("/img/1438423986_vk_3.png"); }
  .header__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 992px) {
      .header__contacts {
        order: -2; } }
    .header__contacts p {
      text-align: right; }

section.main__hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url("/img/bg-main.png") center top;
  background-repeat: no-repeat;
  background-size: 120%;
  min-height: 60rem;
  position: relative;
  font-family: 'Oranienbaum', serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: #fff;
  width: 100%; }
  section.main__hero .hero-title {
    color: #fff;
    margin-top: 5rem;
    text-transform: uppercase; }
    section.main__hero .hero-title span {
      display: block; }
    section.main__hero .hero-title .mission::after {
      content: ""; }
    section.main__hero .hero-title .mission-desc {
      color: #9c8e5d;
      text-decoration: underline;
      font-size: 2rem;
      line-height: 2; }
      section.main__hero .hero-title .mission-desc::before {
        content: "\00AB"; }
      section.main__hero .hero-title .mission-desc::after {
        content: "\00BB"; }

section.main__content .container.wrap {
  background-color: #fff; }
  section.main__content .container.wrap.new {
    overflow: hidden; }
    section.main__content .container.wrap.new::before {
      content: "Новинка";
      display: inline-block;
      width: 20%;
      text-align: center;
      transform: rotate(-45deg) translate(-8rem, -2rem);
      background-color: red;
      color: #fff;
      font-size: 1.6rem;
      padding: .5rem 0;
      box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2); }
  section.main__content .container.wrap.full-width {
    padding: 0; }

section.main__content .post__title {
  text-transform: uppercase;
  text-align: center;
  margin: 3rem auto 4rem;
  font-size: 5rem; }

section.main__content .post__summary {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  width: 65%;
  margin: 0 auto 5rem; }

section.main__content .post__image img {
  width: 100%; }

.collapse.navbar-collapse.starkov {
  flex-grow: 0; }
  @media only screen and (max-width: 992px) {
    .collapse.navbar-collapse.starkov {
      flex-grow: auto; } }

.header__nav.navbar.navbar-expand-lg.starkov {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
