section .container {
    background-color: #fff;
    overflow: hidden; // чтобы перписать margin bootstrap (без этого марджин работает не так как хочется)
}

section.main__content {

    & .container {
    
        &.new { //плашка НОВОЕ
            overflow: hidden;

            &::before {
                content: "Новинка";
                display: inline-block;
                width: 20%;
                text-align: center;
                transform: rotate(-45deg) 
                           translate(-8rem, -2rem);
                background-color: red;
                color: #fff;
                font-size: 1.6rem;
                padding: .5rem 0;
                box-shadow: 0 .5rem .7rem rgba(0, 0, 0, .2);

                @media only screen and (max-width:75em) { // 1200px
                   width: 42vw;
                   transform: rotate(-45deg) translate(-15vw, -8vw);
                }
            }
        } // .container.new

        &.full-width { //делаем содержимое контейнера в полную ширину
            padding:0;
        } // .container.full-width
     } // .container
   

    
    
    &.post {
        color: $post-text; // цвет текста
    }
     & .post {
        
        &__summary {
        font-size: 1.6rem;
        text-transform: uppercase;
        text-align: center;
        width:65%;
        margin: 0 auto 5rem;

        @media only screen and (max-width:37.5em) { // 600px
            font-size: 3vw;
            width: 80%;
        }
        
    }
    &__image  {
     & img {
        width:100%;
     }
     & p {
         color:#777;
         text-align: center;
     }
    }
  }// .post
} // section.main__content


section.books { // картинка с книгами
    & .container{
        width: 100%;
        padding: 0;

        & img {
            width: 100%;
        }
    } //.container
} // section.books

