section .container {
    background-color: #fff;
    overflow: hidden;
}

section.main__content {

    & .container {
    
        &.new {
            overflow: hidden;

            &::before {
                content: "Новинка";
                display: inline-block;
                width: 20%;
                text-align: center;
                transform: rotate(-45deg) 
                           translate(-8rem, -2rem);
                background-color: red;
                color: #fff;
                font-size: 1.6rem;
                padding: .5rem 0;
                box-shadow: 0 .5rem .7rem rgba(0, 0, 0, .2);
            }
        } // .container.new

        &.full-width {
            padding:0;
        } // .container.full-width
     } // .container
   

    
    
    &.post {
        color: $post-text;
    }
     & .post {
        
        &__summary {
        font-size: 1.6rem;
        text-transform: uppercase;
        text-align: center;
        width:65%;
        margin: 0 auto 5rem;
        
    }
    &__image  {
     & img {
        width:100%;
     }
     & p {
         color:#777;
         text-align: center;
     }
    }

    &__wrap {
        

    

        & p {
            font-size: 1.6rem;
            margin: 1rem 0;
        }
    }
  }// .post
} // section.main__content


section.books {
    & .container{
        width: 100%;
        padding: 0;

        & img {
            width: 100%;
        }
        
    }
} // section.books

section.books {
 
}

