section.gallery {
    & h3 {
        text-align: left;

        @media only screen and (max-width:48em) { // 768px
            text-align: center;
        }
    }
    & p {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: #777;
    }

    
}