section.main__hero {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background:url('img/bg-main.png') center top;
        background-repeat: no-repeat;
        background-size: 120%;
        min-height: 60rem;
        position: relative;
        font-family: 'Oranienbaum', serif;
        font-size: 2.4rem;
        font-weight: 400;
        color: #fff;
        width: 100%;

        & .container {
            background: none;
        }

        
        & .hero {
        
            &-title {
            color: #fff;
            margin-top: 5rem;
            text-transform: uppercase;
            & span {
                display: block;
            }
            & .mission {
                &::after {
                    content: "";
                }
            }
            & .mission-desc {
                color:#9c8e5d;
                text-decoration: underline;
                font-size: 2rem;
                line-height: 2;
                &::before {
                    content: "\00AB";
                }
                &::after {
                    content: "\00BB";
                }
            } // .main__hero-title .mission-desc
        } // .main__hero-title
    } // section.main__hero .main__hero
} // section.main__hero
    
  
