section.main__hero {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background:url('../img/bg-main.png') center top;
        background-repeat: no-repeat;
        background-size: 120%;
        position: relative;
        font-family: 'Oranienbaum', serif;
        font-size: 2.4rem;
        font-weight: 400;
        color: #fff;
        width: 100%;

        & .container {
            background: none;
            margin-top: 13rem;
            margin-bottom: 10rem;

            @media only screen and (max-width:75em) { // 1200px
                margin-top: 9vw;
                margin-bottom: 4vw;
            }
        } //.container

        
        & .hero {

            &-logo img {

                @media only screen and (max-width:75em) { // 1200px
                    width: 18vw;
                }  
            }
        
            &-title {
            color: #fff;
            margin-top: 5rem;
            text-transform: uppercase;

            @media only screen and (max-width:75em) { // 1200px
                margin-top: 4vw;
                margin-bottom: 4vw;
            }

            & span {
                display: block;
            }
            & .mission {

                @media only screen and (max-width:75em) { // 1200px
                    font-size: 3vw;
                }

                &::after {
                    content: "";
                }
            }
            & .mission-desc {
                color:#9c8e5d;
                text-decoration: underline;
                font-size: 2rem;
                line-height: 2;

                @media only screen and (max-width:75em) { // 1200px
                    font-size: 2vw;
                }

                &::before {
                    content: "\00AB";
                }
                &::after {
                    content: "\00BB";
                }
            } // .main__hero-title .mission-desc
        } // .main__hero-title
    } // section.main__hero .main__hero
} // section.main__hero
    
  
